# Emacs/Vim
*~
.*.sw[a-z]
*/#*#
#*#
*.org

# Directories
deps
bin
ebin
log
logs
doc
src/typer_ann
rel/package
dev/tmp

# Exec
rebar
erldocs

# EUnit
.eunit

# Dialyzer
*.plt

# Compiled
*.o
*.beam

# Logging
*.dump
*.log

# OSX
.DS_Store
