[
 {rabbit, [
     {default_user_tags, [administrator]}
 ]},

 {rabbitmq_management, [
     {listener, [{port, 55670}]}
 ]},

 {rabbitmq_federation, [
     {upstream_sets, [
         {"rabbit", [[{connection, "rabbit"}]]}
     ]},
     {connections, [
         {"rabbit", [
             {host, "13inches"},
             {username, "guest"},
             {password, "guest"}
         ]}
     ]},
     {local_username, "guest"},
     {local_nodename, "chinchilla"}
 ]}
].
