[
 {rabbit, [
     {default_user_tags, [administrator]}
 ]},

 {rabbitmq_mochiweb, [
     {listeners, [
         {mgmt, [{port, 55670}, {ip, "0.0.0.0"}]}
     ]}
 ]},

 {rabbitmq_federation, [
     {upstream_sets, [
         {"rabbit", [[{connection, "rabbit"}]]}
     ]},
     {connections, [
         {"rabbit", [
             {host, "13inches"},
             {username, "guest"},
             {password, "guest"}
         ]}
     ]},
     {local_username, "guest"},
     {local_nodename, "chinchilla"}
 ]}
].
