[
 {rabbit, [
     {default_user_tags, [administrator]}
 ]},

 {rabbitmq_management, [
     {listener, [{port, 55680}]}
 ]},

 {rabbitmq_federation, [
     {upstream_sets, [
         {"chinchilla", [[{connection, "chinchilla"}]]}
     ]},
     {connections, [
         {"chinchilla", [
             {host, "13inches"},
             {username, "guest"},
             {password, "guest"}
         ]}
     ]},
     {local_username, "guest"},
     {local_nodename, "rabbit"}
 ]}
].
